
@{
	ViewBag.Title = "ELibrary - Access denied";
	Layout = "/Views/_BasicLayout.cshtml";
}

<body>
	<style type="text/css">
		img {
			margin-top: 60px;
		}
	</style>
	<div class="text-center">
		<img src="http://bahraineisa.com/ininin/Access_Denied.jpg"/>
	</div>
</body>